<mat-card class="earnings-container dashboard-card">
  <mat-card-content>
    <h2 translate>EARNINGS</h2>
    <a href="#" mat-fab class="fab-absolute top right">
      <mat-icon>add</mat-icon>
    </a>
    <div fxLayout="column" fxLayoutAlign="center center" class="earnings">
      <div class="earning-today" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="20" class="text-center">
          <mat-icon>attach_money</mat-icon>
        </div>
        <div fxFlex>
          <h3 translate>Earnings until today</h3>
          <h3>R$ 0,00</h3>
        </div>
      </div>
      <div class="earning-month" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="20" class="text-center">
          <mat-icon>attach_money</mat-icon>
        </div>
        <div fxFlex>
          <h3 translate>Estimated earnings for the month</h3>
          <h3>R$ 0,00</h3>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
