<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex="40">
    <mat-form-field appearance="outline">
      <mat-label>
        Nome
      </mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>

  <div fxFlex="30">
    <mat-form-field appearance="outline">
      <mat-label>
        Categoria
      </mat-label>
      <mat-select>
        <mat-option [value]="1">Cateogria 1</mat-option>
        <mat-option [value]="2">Cateogria 2</mat-option>
        <mat-option [value]="3">Cateogria 3</mat-option>
        <mat-option [value]="4">Cateogria 4</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
