<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>turned_in</mat-icon>
      Lista de Tickets
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-list class="text-left">
        <a routerLink="/ticket/open">
          <mat-list-item>
            <mat-icon mat-list-icon>turned_in</mat-icon>
            <h4 mat-line>Título do ticket</h4>
            <p mat-line>09/09/9999 12:40</p>
          </mat-list-item>
        </a>
        <a routerLink="/ticket/open">
          <mat-list-item>
            <mat-icon mat-list-icon>turned_in</mat-icon>
            <h4 mat-line>Título do ticket</h4>
            <p mat-line>09/09/9999 12:40</p>
          </mat-list-item>
        </a>
        <a routerLink="/ticket/open">
          <mat-list-item>
            <mat-icon mat-list-icon>turned_in</mat-icon>
            <h4 mat-line>Título do ticket</h4>
            <p mat-line>09/09/9999 12:40</p>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
