<mat-card class="ranking">
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div fxFlex="100">
        <h2>RANKING</h2>
      </div>
      <div fxFlex="100">
        <img src="icons/eagle/0.png">
        <span></span>
      </div>
      <div fxFlex="100">
        <h3>Super Águia do Mês</h3>
      </div>
    </div>
  </mat-card-content>
</mat-card>
