.profile-container {

  .image-upload {
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
  }

  mat-form-field {
    width: 100%;
  }
}
