<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>home</mat-icon>
      Meus termos e contratos
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line>{{user.name}}</h4>
          <p mat-line>{{user.user}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
