/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

h2 {
  font-weight: 400;
}

a {
  color: #337ab7;
  text-decoration: none;

  &:hover {
    outline: 0;
  }
}

.mat-chip-list-wrapper {
  place-content: center;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.60);
}

.mat-toolbar {
  background: white;
}

.mat-drawer-container {
  background-color: #e4e7ea;
}
