<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>
        shopping_cart
      </mat-icon>
      Produtos
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-header>
        Filtros
    </mat-card-header>
    <mat-card-content>
      <app-product-filter></app-product-filter>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px grid">
        <app-product-item fxFlex="33"></app-product-item>
        <app-product-item fxFlex="33"></app-product-item>
        <app-product-item fxFlex="33"></app-product-item>
        <app-product-item fxFlex="33"></app-product-item>
        <app-product-item fxFlex="33"></app-product-item>
        <app-product-item fxFlex="33"></app-product-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
