<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>
        home
      </mat-icon>
      Documentos
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">#</div>
          <div class="mat-header-cell">Tipo</div>
          <div class="mat-header-cell">Descrição</div>
          <div class="mat-header-cell">Status</div>
          <div class="mat-header-cell"></div>
          <div class="mat-header-cell"></div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">1</div>
          <div class="mat-cell">Documento de Identificação com Foto (Obrigatório)</div>
          <div class="mat-cell">RG (que conste a numeração do CPF) ou CNH. Frente e Verso</div>
          <div class="mat-cell">
            <mat-chip-list class="center-flex">
              <mat-chip class="warning">Não enviado</mat-chip>
            </mat-chip-list>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button class="info">Ver documentos</a>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button color="primary">Enviar</a>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell"></div>
          <div class="mat-cell"></div>
          <div class="mat-cell">Quando necessário utilize este campo para o envio do verso do documento de identificação. </div>
          <div class="mat-cell">

          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button class="info">Ver documentos</a>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button color="primary">Enviar</a>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">2</div>
          <div class="mat-cell">Comprovante de Residência (Obrigatório) </div>
          <div class="mat-cell">Contas de Consumo (telefone, água ou energia) em nome do titular ou dos pais ou Faturas de Cartões de Crédito em
            nome do titular, com no máximo 60 dias onde conste o CEP, ou Contrato de Locação Residencial em nome do titular.
          </div>
          <div class="mat-cell">
            <mat-chip-list class="center-flex">
              <mat-chip class="warning">Não enviado</mat-chip>
            </mat-chip-list>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button class="info">Ver documentos</a>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button color="primary">Enviar</a>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">3</div>
          <div class="mat-cell">Comprovante de PIS (Obrigatório)</div>
          <div class="mat-cell">Modelo novo da carteira de trabalho onde a folha de rosto tem a numeração do PIS e a foto de identificação ou Arquivo
            salvo em PDF gerado no site Dataprev ou Comprovante gerado nas agências da Caixa Econômica Federal ou Cartão
            cidadão. </div>
          <div class="mat-cell">
            <mat-chip-list class="center-flex">
              <mat-chip class="warning">Não enviado</mat-chip>
            </mat-chip-list>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button class="info">Ver documentos</a>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button color="primary">Enviar</a>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">4</div>
          <div class="mat-cell">Comprovante Contribuinte de INSS </div>
          <div class="mat-cell">Holerite ou documento que comprove a contribuição previdenciária. Caso não seja enviado, o distribuidor ficará
            sujeito ao desconto de contribuição previdenciaria, ao valor teto de contribuição da previdência social </div>
          <div class="mat-cell">
            <mat-chip-list class="center-flex">
              <mat-chip class="warning">Não enviado</mat-chip>
            </mat-chip-list>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button class="info">Ver documentos</a>
          </div>
          <div class="mat-cell">
            <a href="#" mat-raised-button color="primary">Enviar</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
