<mat-toolbar class="mat-elevation-z8" r>
  <mat-toolbar-row>
    <h1>
      <mat-icon>
        turned_in
      </mat-icon>
      Abrir Ticket
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxFlex="50" class="center" fxLayout="row wrap" fxLayoutAlign="center center">
        <h2>Preencha o formulário para enviar um ticket</h2>
        <div fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>
              Título do Ticket
            </mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>
              Mensagem
            </mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button color="primary">Enviar Ticket</button>
          <a routerLink="/ticket/list">Já abriu um ticket? Clique aqui para vê-lo</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
