<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <mat-icon>
      add_circle
    </mat-icon>
    {{ 'Register' | translate }}
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="40">
          <form [formGroup]="registerForm" class="register-form" (submit)="register()">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'Country' | translate }}
                  </mat-label>
              <mat-select formControlName="country">
                <mat-option [value]="0">
                  <h2>
                    <span class="flag-icon flag-icon-br"></span>
                    Brasil
                  </h2>
                </mat-option>
                <mat-option [value]="1">
                  <h2>
                    <span class="flag-icon flag-icon-de"></span>
                    Germany
                  </h2>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" class="full-width">
              <div fxFlex="80" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="voucherCode">
                  <mat-label>
                      {{ 'Enter your voucher here' | translate }}
                  </mat-label>
                </mat-form-field>
              </div>
              <div fxFlex="15">
                <button mat-raised-button>{{ 'Validate' | translate }}</button>
              </div>
            </div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name">
              <mat-label>
                  {{ 'Full Name' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput  [matDatepicker]="birthdatePicker" formControlName="birthdate">
              <mat-label>
                  {{ 'Birthdate' | translate }}
              </mat-label>
              <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="ssn" mask="000.000.000-99">
              <mat-label>
                  {{ 'SSN' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="phone" mask="(00) 00000-0000">
              <mat-label>{{ 'Phone' | translate }}</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="email">
              <mat-label>
                  {{ 'Email' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="emailConfirmation">
              <mat-label>
                  {{ 'Email Confirmation' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="user">
              <mat-label>
                  {{ 'User' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="password" type="password">
              <mat-label>
                  {{ 'Password' | translate }}
              </mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="passwordConfirmation" type="password">
              <mat-label>
                  {{ 'Password Confirmation' | translate }}
              </mat-label>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">{{ 'Register' | translate }}</button>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
