<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>
        shopping_cart
      </mat-icon>
      Pedidos
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxFlex="60" fxLayoutGap="25px grid">
          <app-order-item></app-order-item>
          <app-order-item></app-order-item>
          <app-order-item></app-order-item>
          <app-order-item></app-order-item>
          <app-order-item></app-order-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
