<div class="order-item-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Retirar no CD
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="70" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="50">
            <img fxFlex="20" src="assets/img/blank_product_img.png">
            <h2>Nome do produto</h2>
            <p>R$ 00.00 x 1</p>
          </div>
          <div fxFlex="30">
            <h2>Nome do CD</h2>
            <p>Endereço do CD</p>
            <p>(99) 99999-9999</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
