<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>
        home
      </mat-icon>
      Materiais
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Documentos">
          <app-documents></app-documents>
        </mat-tab>
        <mat-tab label="Identidade Visual">
          <app-visual-identity></app-visual-identity>
        </mat-tab>
        <mat-tab label="Diversos">
          <app-several></app-several>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
