<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile" ngClass.gt-sm="has-border">
      <mat-toolbar color="primary">
        <span translate>APP_NAME</span>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>home</mat-icon><span translate>Home</span>
          </a>
          <a mat-list-item routerLink="/register" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>add_circle</mat-icon><span translate>Register</span>
          </a>
          <a mat-list-item routerLink="/profile/users" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>account_circle</mat-icon><span>Lista de Usuários</span>
          </a>
          <a mat-list-item routerLink="/profile/profile" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>account_circle</mat-icon><span translate>Profile</span>
          </a>
          <a mat-list-item routerLink="/profile/terms" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>account_circle</mat-icon><span translate>Terms</span>
          </a>
          <a mat-list-item routerLink="/profile/documents" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>account_circle</mat-icon><span translate>Documents</span>
          </a>
          <a mat-list-item routerLink="/materials" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>book</mat-icon><span translate>Materials</span>
          </a>
          <a mat-list-item routerLink="/store/products" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>shopping_cart</mat-icon><span translate>Products</span>
          </a>
          <a mat-list-item routerLink="/store/orders" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>shopping_cart</mat-icon><span translate>Orders</span>
          </a>
          <a mat-list-item routerLink="/contact/faq" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>help</mat-icon><span translate>FAQ</span>
          </a>
          <a mat-list-item routerLink="/ticket/open" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>turned_in</mat-icon><span translate>Open Ticket</span>
          </a>
          <a mat-list-item routerLink="/ticket/list" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>turned_in</mat-icon><span translate>Ticket List</span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="50" class="text-center">
          <span>{{title}}</span>
        </div>
        <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
          <div>
            <button mat-icon-button>
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <mat-list>
                <mat-list-item>
                  <span translate>Logged in as</span>&nbsp;
                  <b>{{username}}</b>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
              <button mat-menu-item (click)="logout()" translate>Logout</button>
            </mat-menu>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="languageMenu">
              <mat-icon>language</mat-icon>
            </button>
            <mat-menu #languageMenu="matMenu">
              <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
                {{language}}
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
