/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/dist/fonts/material-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

// Global Class
.container {
  text-align: center;
  padding: 1em;
}

.full-width {
  width: 100%;
}

.card-container {

  text-align: center;
  padding: 1em;
}

.dashboard-card {
  text-align: center;
  min-height: 370px;
}

.fab-absolute {
  position: absolute !important;
  animation: lepulse 1.5s infinite;
  transition: background-color 0.3s ease-in-out;
  z-index: 5;

  &.top {
    top: 0 !important;
  }

  &.bottom {
    bottom: 0 !important;
  }

  &.right {
    right: 0 !important;
  }

  &.left {
    left: 0 !important;
  }
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.warning {
  color: #fff !important;
  background-color: #f0ad4e !important;
}

.info {
  color: #fff !important;
  background-color: #5bc0de !important;
}


//helpers
.center {
  margin: 0 auto;
}

.center-flex {
  place-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.p20 {
  padding: 20px;
}

.p20lr {
  padding: 0 20px;
}

.p20ud {
  padding: 20px 0;
}


//Keyframes
@keyframes lepulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,153,169,0.6);
    border-color: rgba(0,153,169,0.6);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0,153,169,0);
    border-color: rgba(0,153,169,0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0,153,169,0);
    border-color: rgba(0,153,169,0);
  }
}
