<mat-card class="dashboard-card news-container">
  <mat-card-content>
    <h2 translate>NEWS</h2>
    <a href="#" mat-fab class="fab-absolute top right">
      <mat-icon>add</mat-icon>
    </a>
    <div class="items">
      <a href="#">
        <img src="assets/img/background-example.jpg" height="230px">
      </a>
      <a href="#">
        LABEL DO AVISO AQUI
      </a>
    </div>
  </mat-card-content>
</mat-card>
